@import "../../ui.scss";

.templateDisplayContainer {
  position: relative;
  flex: 1;
  height: 100%;
  max-height: 100%;
  margin-top: 5px;
}
.templateDisplay {
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

.templateDisplayHtml {
  @extend .templateDisplayContainer;

  background: $primaryGrey;
  font-size: 12px;
  padding: 10px 10px;
}

.templateMenu {
  position: absolute;
  background: #fcfcf5;
  right: 20px;
  top: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: $defaultFont;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 1px 0px 6px -1px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1024px) {
    right: 3px;
  }
}

.templateMenuTitle {
  font-family: $defaultFont;
  font-size: 12px;
  padding: 5px;
  background: transparent;
  text-align: left;
  i {
    margin-right: 5px;
  }
}

.renderHtml {
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;

  &_selectButton {
    margin-top: 10px;
  }
}

.templateMenuForm {
  background: #fcfcf5;
}

.submitButton {
  margin-left: 5px;
  margin-top: 5px;
}

.buttonDiv {
  display: flex;
  align-items: center;
}

.hourglass {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
}

.hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 13px solid red;
  border-color: $primaryGrey transparent $primaryBlue transparent;
  animation: hourglass 1.2s infinite;
}
@keyframes hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
